<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="initial-scale=1, width=device-width">
  <title>Good Milk Starts Here</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <center>
  <img src="https://i.redd.it/mobjrlmco8mb1.png" alt="just imagine a shitty logo" width="200" height="200">
  </center>
</head>
  <center>
  <h1>my introduction</h1>
  <ul>
    <li><a href="/">Introduction</a></li>
    <li><a href="suggestmilk.html">Submit Recommendations!</a></li>
    <li><a href="enjoymilk.html">Find Music!!</a></li>
  </ul>
  <h2>Please imagine that you are a <a href="https://www.collinsdictionary.com/images/full/cow_55631443.jpg">cow</a>.</h2><br><br>
  <img src="https://images.unsplash.com/photo-1584673961397-be26e009333f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8Z3JlZW4lMjBmaWVsZHxlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80" alt="Green field" width="200" height="100"><br><br>
  <h3>Bouncing happily on the green fields, milk is your joy in life. Sometimes you may not produce the best milk, but regardless you still love and enjoy your milk, or rather, the milk of others. That is how music is to me. Hence, this website is to recommend and share your favourite milk.<br><br>
    ARE YOU READY TO MAKE THE WORLD A BETTER PLACE?!!?!?!?!?! (I, for one, am not but slowly ig.)</h3><br><br><br>
  </center>
<body>
  
</body>
</html>