<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="initial-scale=1, width=device-width">
  <title>Good Milk Starts Here</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <center>
  <img src="https://i.redd.it/mobjrlmco8mb1.png" alt="just imagine a shitty logo" width="200" height="200">
  </center>
</head>
<center>
  <h1>milk board</h1>
  <ul>
    <li><a href="/">Introduction</a></li>
    <li><a href="suggestmilk.html">Submit Recommendations!</a></li>
    <li><a href="enjoymilk.html">Find Music!!</a></li>
  </ul>
<body>
    <style>
        .image-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;
            margin: 150px;
        }
        .image-container a {
            display: block;
            text-align: center;
        }
        .image-container img {
            width: 75%;
            cursor: pointer;
        }
    </style>
<div class="image-container">
    <a href="https://open.spotify.com/track/6RiiSy9GzSwiyDEJDiMuKe?si=f4b9819ec0d944f8"><img src="https://preview.redd.it/s8or9dxwn6nb1.png?width=500&format=png&auto=webp&s=66be93d0a182c938b3f6816bb47d2f53bcebe530" alt="Image 1"></a>
    <a href="https://open.spotify.com/track/7eqoqGkKwgOaWNNHx90uEZ?si=7e2685fbf84f4586"><img src="https://preview.redd.it/u8xik1exn6nb1.png?width=500&format=png&auto=webp&s=08c4be300a820a57753391ee6087bdfd5fc84446" alt="Image 2"></a>
    <a href="https://open.spotify.com/track/0VF7YLIxSQKyNiFL3X6MmN?si=37f6a7a3945849df"><img src="https://preview.redd.it/v3mlfd5zn6nb1.png?width=500&format=png&auto=webp&s=42fb1e38dccf7cffd22782c71edcb4b810ae15d6" alt="Image 3"></a>
    <a href="https://open.spotify.com/track/4gh0ZnHzaTMT1sDga7Ek0N?si=70470b93d67f4bc2"><img src="https://preview.redd.it/km2che5zn6nb1.png?width=500&format=png&auto=webp&s=d97cc6bc8c1070ce226f040a18d43a8e913221b6" alt="Image 4"></a>
    <a href="https://open.spotify.com/track/2i2gDpKKWjvnRTOZRhaPh2?si=260842798bd747c5"><img src="https://preview.redd.it/ywykzf5zn6nb1.png?width=500&format=png&auto=webp&s=4420a2fca3a3448cf91e6c85c31d2ac1a3befe9c" alt="Image 5"></a>
    <a href="https://open.spotify.com/track/2lz3zjQ5QCVXiyOzIk02vW?si=5212cb46b751496e"><img src="https://preview.redd.it/s1tj697zn6nb1.png?width=500&format=png&auto=webp&s=9e8fd9d0eb34087d8cd7c4b0f2b2bf4a214537c7" alt="Image 6"></a>
    <a href="https://open.spotify.com/track/1abwytAhbWeHrbsA9eODOy?si=f676d4a5b9c9426d"><img src="https://preview.redd.it/1rmi0j5zn6nb1.png?width=500&format=png&auto=webp&s=7e3ddfb25954351d0f418f0d2c63a78c20baaca1" alt="Image 6"></a>
    <a href="https://open.spotify.com/track/6wsqVwoiVH2kde4k4KKAFU?si=93db6ced3b8d47f1"><img src="https://preview.redd.it/wh140l5zn6nb1.png?width=500&format=png&auto=webp&s=4ec665b7304867d14da52a8a52ac0a6cd1e99566" alt="Image 6"></a>
    <a href="https://open.spotify.com/track/5TZKpQFKCbIlWGD8DzHbC6?si=003ce680762e446b"><img src="https://preview.redd.it/qjttgn5zn6nb1.png?width=500&format=png&auto=webp&s=bd0ed64d3811b8a8767e008c541261da1144314b" alt="Image 6"></a>
    <a href="https://open.spotify.com/track/6UFivO2zqqPFPoQYsEMuCc?si=88242a0b8f514650"><img src="https://preview.redd.it/k5njuf7zn6nb1.png?width=500&format=png&auto=webp&s=c4876240002e65a6ee9752ab2915154a8cc35e7c" alt="Image 6"></a>
    <a href="https://open.spotify.com/track/2Ch7LmS7r2Gy2kc64wv3Bz?si=e6c7bb11a8494e9f"><img src="https://preview.redd.it/m3fd4vvzn6nb1.png?width=500&format=png&auto=webp&s=c1865498c25c73919479c8399454cd2ed293d929" alt="Image 6"></a>
    <a href="https://open.spotify.com/track/40iJIUlhi6renaREYGeIDS?si=060543c66a4d4fdf"><img src="https://i.redd.it/vb145r0up6nb1.png" alt="Image 6"></a>
  <br><br><br>
</div>
</body>
</center>
</html>